<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h5><span style="background-color: #dcdcdc;">注文情報確認</span></h5>

      <table class="table table-striped" border="1">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <% if cart_item.item.image.attached? %>
                  <%= image_tag cart_item.item.image, width: 100, height: 100 %>
                <% else %>
                  <%= image_tag "no_image.jpg", width: 100, height: 100 %>
                <% end %>
                <%= cart_item.item.name %>
              </td>
              <td><%= number_with_delimiter(cart_item.item.with_tax_price) %></td>
              <td><%= cart_item.amount %></td>
              <td><%= number_with_delimiter(cart_item.subtotal) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-2">
      <table class="table table-striped" border="1">
        <tr>
          <th>送料</th>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%= number_with_delimiter(@合計金額) %></td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td><%= number_with_delimiter(@order.total_payment) %></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="row">
    <b>支払い方法</b>
    <% if @order.payment_method == "credit_card" %>
      <p>クレジットカード</p>
    <% elsif @order.payment_method == "transfer" %>
      <p>銀行振込</p>
    <% end %>
  </div>

  <div class="row">
    <b>お届け先</b>
    <%= form_with model: @order, url: orders_path, method: :post do |f| %>
    <p>
      〒<%= @order.shipping_postal_code %> <%= @order.shipping_address %>
      </br><%= @order.shipping_name %>
    </p>

      <%= hidden_field_tag 'order[pay_method]', @selected_pay_method %>
      <%= hidden_field_tag 'order[address_type]', @address_type %>
      <%= f.submit'注文を確定する', class: "btn btn-success" %>
    <% end %>
  </div>

</div>