<div class="container">
  <h5><span style="background-color: #dcdcdc;">注文履歴詳細</span></h5>

  <div class="row">

    <div class="col-md-8">
      <b>注文情報</b>
      <table class="table table-striped" border="1">
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at %></td>
        </tr>

        <tr>
          <th>配送先</th>
          <td>
            <%= @order.shipping_postal_code %><br>
            <%= @order.shipping_address %><br>
            <%= @order.shipping_name %>
          </td>
        </tr>

        <tr>
          <th>支払方法</th>
          <td>
            <% if @order.payment_method == "credit_card" %>
              <%= "クレジットカード" %>
            <% elsif @order.payment_method == "transfer" %>
              <%= "銀行振込" %>
            <% end %>
          </td>
        </tr>

      </table>
    </div>

    <div class="col-md-4">
      <b>請求情報</b>
      <table class="table table-striped" border="1">
        <tr>
          <th>商品合計</th>
          <td><%= number_with_delimiter(@合計金額) %></td>
        </tr>

        <tr>
          <th>送料</th>
          <td><%= @order.postage %></td>
        </tr>

        <tr>
          <th>ご請求額</th>
          <td><%= number_with_delimiter(@order.total_payment) %></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="row">
    <div class="col-md-8">

      <b>注文内容</b>

      <table class="table table-striped" border="1">
        <thead>
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td>¥<%= (order_detail.price * 1.1).floor.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td>¥<%= (order_detail.price * order_detail.amount * 1.1).floor.to_s(:delimited) %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>

  </div>

</div>