<div class="card-list-container py-5">
  <div class="row">
    <% items.each do |item| %>
      <div class="col-md-3 mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 text-left">
              <% if item.image.attached? %>
                <%= image_tag item.image, width: 200, height: 100 %>
              <% else %>
                <%= image_tag "no_image.jpg", width: 200, height: 100 %>
              <% end %>
            </div>
            <div class="col-md-12 text-left">
              <p><%= link_to item.name, item_show_path(item) %></p>
            </div>
            <div class="col-md-12 text-left">
              <div class="price">
                ￥<%= number_with_delimiter(item.price, precision: 0) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate items %>
  </div>
</div>