<div class="container">

  <div class="row">
    <div class="col-md-5">

      <% if @item.image.attached? %>
        <%= image_tag @item.image, width: 400, height: 400 %>
      <% else %>
        <%= image_tag "no_image.jpg", width: 400, height: 400 %>
      <% end %>
    </div>

    <div class="col-md-5">
      <b><%= @item.name %></b>
      <p><%= @item.introduction %></p>
      <b>￥<%= number_with_delimiter((@item.price * 1.1).to_i) %></b>(税込)
      
      </br>
      
      <%= link_to "カートに入れる" , class: "btn btn-success" %>
    </div>

  </div>
</div>